*.elf
*.bin
*.bin.bkup
*.o
*.d
*.a
*.bit
*.clangd
*.map
*.tar.xz
vitis_journal.py
logs/
test_workspace/
build/
bsp/reference/
bsp/libsrc-cursed
bsp/libsrc/*/data
bsp/libsrc/*/doc
bsp/libsrc/*/example
.trash/
zturn-linux/
